/* ========================= Whole site ===============================*/
body {
    background-color: #A9A9A9;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    color:black;
}
/* ========================= Map ===============================*/
#map h2{
    font-size: 48pt;
    text-align: center;
}
#map figure{
    max-width: 150px;
    
}

#map p{
    color: black;
    text-align: left;
    padding-bottom: 1em;
}
#map h2{
    color: black;
    font-size: 24pt;
    text-align: center;
}
#map .big p{
    padding-bottom: 4em;
}

#map section{
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 5em;
    width: 50%;
    padding: 1em;
    background-color: cornsilk;
    border-radius: 15px;
}


/* ========================= About Us ===============================*/

#aboutUs h2{
    font-size: 24pt;
}
#aboutUs p{
    color: black;
    text-align: left;
    text-indent: 50px
}

#aboutUs figure {
    
    align-content: center;
}

#aboutUs section{
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 5em;
    width: 50%;
    padding: 1em;
    background-color: cornsilk;
    border-radius: 15px;
}
#aboutUs img{
    border-radius: 1.0em;
    max-width: 100%;
    align-content: center;
    
}
/* ========================= footer ===============================*/
#footer p{
    text-align: center;
  
}

/* =========================  Nav ===================================*/
nav a:hover{
    background-color: salmon;
    border: 3px solid blue;
    padding: 0;
    text-decoration: underline;
}

nav ol{
    padding-left: 0;
 
}
nav ol li{
    display: inline-block;
    list-style-type: none;
    padding-right: 3em;
    border: thin solid black;
    width: 6em;
    text-align: center;
    background-color: white;
}
nav a:link{
    text-align: center;
    color: #009;
    text-decoration: none;
    
}



.activePage{
    background-color: aliceblue;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    box-shadow: .3em .3em .3em grey;
    text-align: center;
      
}



/* ========================= header ===============================*/
header {
    font-size: 24pt;
    background-color: #d8ffdd;
    border: thin solid black;
    border-radius: 15px;

}

